<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address Details</title>
</head>
<body>
<h1>Address Details</h1>
<table>
    <tr>
        <td>Street:</td>
        <td th:text="${address.street}"></td>
    </tr>
    <tr>
        <td>City:</td>
        <td th:text="${address.city}"></td>
    </tr>
    <tr>
        <td>State:</td>
        <td th:text="${address.state}"></td>
    </tr>
    <tr>
        <td>Zip:</td>
        <td th:text="${address.zip}"></td>
    </tr>
    <tr>
        <td>Country:</td>
        <td th:text="${address.country}"></td>
    </tr>
</table>
</body>
</html>
