<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Address Form</h1>
<form method="post" th:action="@{/address-processing}"  th:object="${address}">
    <div class="form-group">
        <label for="street">Street:</label>
        <input type="text" class="form-control" id="street" name="street" th:field="*{street}">
    </div>
    <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city" th:field="*{city}"   style="width: 10%;">

    </div>
    <div class="form-group">
        <label for="state">State:</label>
        <input type="text" class="form-control" id="state" name="state" th:field="*{state}">
    </div>
    <div class="form-group">
        <label for="zip">Zip:</label>
        <input type="text" class="form-control" id="zip" name="zip" th:field="*{zip}">
    </div>
    <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" class="form-control" id="country" name="country" th:field="*{country}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>