<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hiring Company Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Job Site</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="jobsite.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Job Seekers</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Hiring Companies</a>
            </li>
        </ul>
    </div>
</nav>
<h1>Hiring Company Registration</h1>
<form method="post" th:action="@{/hiringcompany}">
    <div class="form-group">
        <label for="hiringCompanyName">Company Name:</label>
        <input type="text" class="form-control" id="hiringCompanyName" name="hiringCompanyName" th:field="*{hiringCompanyName}">
    </div>
    <div class="form-group">
        <label for="hiringCompanyEmail">Email:</label>
        <input type="text" class="form-control" id="hiringCompanyEmail" name="hiringCompanyEmail" th:field="*{hiringCompanyEmail}">
    </div>
    <div class="form-group">
        <label for="webSite">Website:</label>
        <input type="text" class="form-control" id="webSite" name="webSite" th:field="*{webSite}">
    </div>
    <div class="form-group">
        <label for="contactPersonFname">Contact Person First Name:</label>
        <input type="text" class="form-control" id="contactPersonFname" name="contactPersonFname" th:field="*{contactPersonFname}">
    </div>
    <div class="form-group">
        <label for="contactPersonLname">Contact Person Last Name:</label>
        <input type="text" class="form-control" id="contactPersonLname" name="contactPersonLname" th:field="*{contactPersonLname}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>
