<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Candidate Home Page</title>
<!--  <link rel="stylesheet" type="text/css" th:href="/style/stylebuttons.css">-->
</head>
<body>


<h1>Welcome, to the  Candidate Portal !</h1>
<div class="dashboard">
  <a th:href="@{/user/candidate-register}" class="button">Candidate Register</a>
  <br>
  <a th:href="@{/user/candidate/joblisting-list}" class="button">List of Jobs</a>
  <br>
  <a th:href="@{/user/jobsearch}" class="button">Search for Jobs</a>
</div>
</body>
</html>
