<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Job Site Application</h2>
    <div class="row">
        <div class="col-md-3">
            <h4>Wellness and Beauty</h4>
            <!-- Card for Hair Dressing -->
            <div class="card mb-3">
                <a href="#">
                    <img th:src="@{/static/images/hairdresser.png}" class="card-img-top" alt="Hair Dressing" style="width: 100%; height: auto;">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Hair Dressing</h5>
                </div>
            </div>
            <!-- Card for Barber -->
            <div class="card mb-3">
                <a href="#">
                    <img th:src="@{/static/images/barber.png}" class="card-img-top" alt="Barber" style="width: 100%; height: auto;">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Barber</h5>
                </div>
            </div>
            <!-- Card for Wax -->
            <div class="card mb-3">
                <a href="#">
                    <img th:src="@{/static/images/wax.png}" class="card-img-top" alt="Wax" style="width: 100%; height: auto;">
                </a>
                <div class="card-body">
                    <h5 class="card-title">Wax</h5>
                </div>
            </div>
            <!-- Add more cards for other professions in this category -->
        </div>
    </div>
</div>

</body>
</html>