<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <style>
      <link rel="stylesheet" href="style.css">

    </style>
</head>
<body>
<nav class="navbar">
    <a href="#">Home</a>
    <a href="#">Jobseeker Registration</a>
    <a href="#">Hiring Company Registration</a>
</nav>
<h1>Job Seeker Registration Form</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
        <form th:action="@{/candidate/register}" th:object="${candidate}" method="post">

        <form method="post" th:action="@{/candidate}">
     <div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstname">First Name:</label>
                        <input type="text" th:field="*{firstname}" id="firstname"/>
                        <div class="form-group" style="margin-bottom: 10px;">
                    </div>
                 <div>
           </div>
        </div>
       <div class="col-md-6">
           <div class="form-group">
                <label for="middlename">Middle Name:</label>
                <input type="text" th:field="*{middlename}" id="middlename" />
               <div class="form-group" style="margin-bottom: 10px;">
           </div>
       </div>
       <div class="col-md-6">
          <div class="form-group">
                <div>
                    <label for="lastname">Last Name:</label>
                    <input type="text" th:field="*{lastname}" id="lastname" />
                </div>
       </div>
       <div class="col-md-6">
           <div class="form-group">
               <div>
                    <label for="male">Male</label>
                    <input type="radio" th:field="*{gender}" value="Male" id="male"/>
                    <label for="female">Female</label>
                    <input type="radio" th:field="*{gender}" value="Female" id="female"/>
                </div>
       </div>
       <div class="col-md-6">
          <div class="form-group">
               <div>
                   <label for="telephone">First Name:</label>
                   <input type="text" th:field="*{telephone}" id="telephone" />
               </div>
       </div>
       <div class="col-md-6">
           <div class="form-group">
               <div>
                    <label for="email">Email:</label>
                    <input type="email" th:field="*{email}" id="email" />
               </div>
       </div>
       <div class="col-md-6">
          <div class="form-group">
              <div>

                   <label for="education_level">Education Level:</label>
                   <input type="text" th:field="*{education_level}"  id="education_level"/>
              </div>
       </div>
       <div class="col-md-6">
           <div class="form-group">
             <div>
                <label for="profession-select">Profession:</label>
                <select th:field="*{profession}" id="profession-select" style="width: 100%">
                    <option th:each="p : ${professions}" th:value="${p.id}" th:text="${p.name}" />
                </select>
             </div>
       </div>
       <div class="col-md-6">
           <div class="form-group">
               <div>
                    <label for="address.street">Street:</label>
                    <input type="text" th:field="*{address.street}" id="address.street" />
                </div>
       </div>
      <div class="col-md-6">
           <div class="form-group">
                <div>
                    <label for="address.city">City:</label>
                    <input type="text" th:field="*{address.city}" id="address.city"/>
                </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <div>
                    <label for="address.state">State:</label>
                    <input type="text" th:field="*{address.state}"  id="address.state"/>
                </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
                <div>
                    <label for="address.zip">Zip:</label>
                    <input type="text" th:field="*{address.zip}" id="address.zip" />
                </div>
      </div>
      <div class="col-md-6">
          <div class="form-group">
              <div>
                    <label for="address.country">Country:</label>
                    <input type="text" th:field="*{address.country}" id="address.country" />
                </div>

              <div>
                  <button type="submit">Register</button>
              </div>



    </form>

  </form>
        </div>
    </div>
</div>
 </body>
</html>